* {

  font-family: 'Roboto Condensed', sans-serif;


    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0; /* Pour enlever les marges par défaut du navigateur */
    padding: 0; 
}
body{
 /* Pour enlever le padding par défaut du navigateur */
    height: 100vh; /* 100% de la hauteur de la fenêtre visible */
    width: 100vw;



  margin: 0;
  padding: 0;
  height: 100vh;
  /*width: 100vw;*/
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;

     /* Ensure the container fills the entire height of the body */
}

.nav-gauche {
  background: #005E5D;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 8px 0; 
  gap: 4vh;
 
}

.navcontent {
  position: fixed;
  display: flex;
  height: 100vw;
  width: 100%;
}

.logo img{
  width: 50px;
  height: 50px;
  padding-bottom: 100px;
}

.home img,
.salles img {
  width: 42px;
  height: 42px;
}



/*nav haut*/
.nav{
 flex: 1;
}

.nav-haut {
  gap: 10px;
  background: #005E5D;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.service {
  background: #77A6A5;
  padding: 14px;
  display: flex; 
  align-items: center;
  gap: 20px;
}
.urgences {
  width: 8vw;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.x {
  margin: 2px 0;
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

/*
.refresh {
  padding: 20px;
      width: 32px;
      height: 32px;
    }
    */
.select-service {
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  margin: 11px 0px 7px 0;
  display: flex;
  flex-direction: row;
  padding: 8px 8px 8px 8px;
  width: 500px;
  font-size: 14px;
  height: fit-content;
}

.clock {
  gap: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  height: fit-content;
  color: #FFFFFF;
}

.column1 span {
  display: block;
  margin-top: 3px;
}

.linehor {
  background: #FFFFFF;
  width: 3px;
  height: 40px;
}

.column, .heure {
  font-weight: 500;
}

.column {
  font-size: 35px;
 
}

.column1 {
  font-size: 14px;
  flex-grow: 1;
}

.heure {
  font-size: 35px;
  text-align: center;
}

.param{
  margin-left: auto;
  display: flex;
  gap: 10px;
}

  /*

.traduction{
  
  width: 20px;
  height: 20px;

}

.decoP{

  width: 35px;
  height: 35px;
 
}

.deco{
 
  width: 35px;
  height: 35px;

}
  */
.compte{
  display: flex;
  flex-direction: column;
  padding-right:1vw ;
 
}

.nom-prenom{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}

.fonction{
  color: #FFFFFF;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
}

nav.nav-genaral{
  display: flex;
  align-items: center;
  background-color:rgba(217, 217, 217, 0.61) ;
  gap: 10px;
  
  }

.dossierEtat img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.infoPatient img {
  width: 40px;
  height: 40px;
}

.mesurePatient img {
  width: 40px;
  height: 40px;
}

.infoPatient,.mesurePatient{
  display: flex;
  align-items: center;
}

.nomPrenom, .dossier-heure, .localisation{
  font-weight: 550;
  font-size: 16px;
  line-height: 0.7;
}

.dossier-date{
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.centrer_date_urg {
  align-items: center;
}

.hebergement, .medical{
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
}

.naiss {
  font-weight: 400;
  font-size: 13px;
}

.poids, .taille {
  font-weight: 550;
  font-size: 14px;
}

p {
  margin: 3px;
}
.naiss-IP{
 display: flex;
 padding-top: 2px;
 align-items: center;
}
.mesurePatient {
  margin-left: auto;
  padding-right: 70px;
}

.dossierSalle{
  display: flex;
}

.dossierDate div{
  display: flex;
  flex-direction: column;
}

.dossierSalle div{
  display: flex;
  flex-direction: column;
}

.dossierDate, .dossierSalle{
  display: flex;
  align-items: center;
}

.line{
  background: #000000;
  margin-right: 20px;
  margin-left: 20px;
  width: 1px;
  height: 6vh;
}

.nav-secondaire{
  display: flex;
  background-color: #D6D6D6;
font-size: 18px;
  align-items: center;
}

.nav-secondaire a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
padding-right: 7px;
  color: #000000;
}

.nav-secondaire img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.nav-secondaire a:hover,
.nav-secondaire a.active {
  background-color: #353434;
  color: #FFFFFF;
  padding: 7px;
}

.nav-secondaire a:hover img,
.nav-secondaire a.active img {
  filter: brightness(0) invert(1);
}

.sous-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
}

.sejour {
  width: 25px;
  height: 25px;
}

.patientim {
  width: 28px;
  height: 28px;
}

.sous-nav a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  color: #000000;
}

.sous-nav a:hover{
  background-color: #FFFFFF;
  color: #005E5D;
  border-bottom: 3px solid #005E5D;
}

.sous-nav a:hover img {
  filter: brightness(0) saturate(100%) invert(26%) sepia(41%) saturate(1481%) hue-rotate(139deg) brightness(93%) contrast(100%);
}

img{
    width: 29px;
    height: 29px;
}

.container-hero{
    display: flex;
    flex-direction: column;
   width: 100%;
  
    padding-left:  7.7vw;
    margin-top: 200px;
    padding-bottom: 10PX;
    gap: 10px;
    padding-right: 20px;
    z-index: 1;
    overflow: auto;
  
}
.container-hero::-webkit-scrollbar {
  display: none;
}

.ligne-1,.ligne-3,
.ligne-2,.ligne-4,
.ligne-5{ 
    display: grid;gap: 10px;
}
.ligne-1{
    grid-template-columns: auto auto auto;
}
.ligne-2,.ligne-4
{
   grid-template-columns: auto auto auto auto;
}
.ligne-3
{
  grid-template-columns: auto auto ;
}
.ligne-5
{
    grid-template-columns:auto auto;
}
.admission, .medecins, .personneConfidente, .allergies, .antecedents, .observations, 
.vaccins, .examenParamedical, .examenMedical, .conclusion, .constantes, .fiche, 
.prescription, .orientation, .documents {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  color:rgba(0, 94, 93, 1); ;
  height: 14vh;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  font-weight: 550;
  font-size: 18px;
  padding: 10px;
  gap: 5px;
}
.container-hero a{
  text-decoration: none;
  color: #005E5D;
  cursor: pointer;
}
.popupOrientation {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
*/


.logoOrientation {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(102%) contrast(102%);
}

.popupOrientation-content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column; /* Change la direction du flux en vertical */
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 70%; /* Largeur fixe */
  height: 80%;
}

.nav-orientation {
  background: #005e5d;
  display: flex;
  align-items: center; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; /* Ajout de bordure supérieure droite */
  padding-left: 10px;
  padding-right: 10px;
}
.titre-orientation{
  display:flex;
  align-items: center; 
   
}
.nav-orientation a{
  margin-left: auto;
}
.nav-orientation h3 {
  margin: 0; 
  color: white; 
  font-weight: 500;
  padding: 10px; /* Ajout de rembourrage */
}

.nav-DetailOrientation {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Affichage des éléments en colonne */
  gap: 4vh; /* Espacement entre les éléments */
  background:rgba(119, 166, 165, 1);
  padding: 50px 20px 10px 20px;
 
}
.nav-main{
  display: flex;
  width: 100%;
 height: 100%;
}
.nav-DetailOrientation a {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color:rgba(0, 94, 93, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  gap: 7px;
 
}

.nav-DetailOrientation a img {
  width: 24px; /* Ajustement de la largeur */
  height: auto; /* Réglage automatique de la hauteur */
}

.nav-DetailOrientation a:hover,
.nav-DetailOrientation a.active1 {
  background-color: rgba(217, 217, 217, 1);
  color: black;
}

.nav-DetailOrientation a:hover img,
.nav-DetailOrientation a.active1 img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(5%) hue-rotate(223deg) brightness(98%) contrast(102%);
}

.mainOrientation {
  flex-grow: 1;
 background-color: rgba(217, 217, 217, 1); 
}
.nav-DetailOrientation p{
  font-size: 16px;
  font-weight: 500;
}

/* Formulaire */
.form-sortie-hopital , .form-uhcd, 
.form-transfert , .form-sortie-mutation, .form-deces{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 100px ; 
  padding: 100px ;
  background-color: #FFFFFF;
  gap: 2vw;
}

/* Etiquettes */
.form-sortie-hopital label {
  margin: 1px 9.5px 1px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

/* Champs de saisie */
.form-sortie-hopital .personne-prevenue,
.form-sortie-hopital select {
  padding: 5px;
  border: 1px solid #ccc;
  width: 40%; 
}

.form-sortie-hopital .orientationsortie {
  margin-left: 100px;
}

.form-sortie-hopital .personne-prevenue {
  margin-left: 120px; 
  width: 39%;
}

.form-sortie-hopital .certificat-refus {
  margin-left: 65px;
}
/* Radios */
.form-sortie-hopital input[type="radio"] {
  margin-right: 5px;
}

/* Boutons */
.form-sortie-hopital button {
  border-radius: 5px;
  position: relative;
  margin-right: 8px;
  margin-top: auto;
  display: inline-block;
  flex-direction: row;
  padding: 4px 11px 5px 8px;
  box-sizing: border-box;
  background-color: #005e5d;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: none;
  cursor: pointer;
}

.form-sortie-hopital button img,.G-button button img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-sortie-hopital .button-container,.G-button {
  text-align: right;
  margin-top: 20px; 
}

.radio-group input[type="radio"] {
  display: none;
}

/* Formulaire uhcd*/

.G-groupe,.G-place,
.G-date_mutation ,
 .G-mobilité , .list
 {
  display: flex;
  align-items: center;
  gap: 15%;
}

.label-groupe,
.G-place label
,.G-date_mutation label,
.G-mobilité label ,.vide 
{
width: 150px;
}
/* inputs and selects design*/
#date_heure_mutation,.mobilité, 
.div-transfert input,.div-transfert textarea,
 .div-sortie-mutation input
{
padding: 8px 17.7px 4.8px 12.7px;
width: 200px;
border: 1px solid #ccc;
border-radius: 4px;
}
.G-button button 
{
  border-radius: 5px;
  margin-right: 8px;
  margin-top: auto;
  display: inline-block;
  flex-direction: row;
  padding: 4px 11px 5px 8px;
  background-color: #005e5d;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: none;
  cursor: pointer;
}
.form-transfert label, 
.form-sortie-mutation label,
.form-deces label
{
  width:200px ;
}
.div-transfert, 
.div-sortie-mutation
,.div-form-deces
{
display: flex;
gap: 10%;
}

.radio-group
{
  display: flex;
  gap: 10px;
}



.radio-group label
 {
  display: flex;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;

}

.radio-group label:hover 
{
  background-color: #ddd;
}


input[type="radio"]:checked + label
 {
  background-color: #77A6A5;
  color: #fff;
  border-color: #77A6A5;
}

.container-10 {
  border-radius: 7px;
  background: #B0B0B0;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 5.6px 2px 5px;
  box-sizing: border-box;
}

.g {
  overflow-wrap: break-word;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.container-60 {
  border-radius: 7px;
  background: #F19100;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 5.6px 2px 5px;
  box-sizing: border-box;
}

.container-19 {
  border-radius: 7px;
  background: #7AC856;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 5.6px 2px 5px;
  box-sizing: border-box;
}
.groupe-list{
  margin: 0px;
  width: 50%;
  background-color:rgba(237, 237, 237, 1) ;
  font-size: 14px;font-weight: 500;
}


.popupConclusion {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.logoConclusion {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(102%) contrast(102%);
}

.popupConclusion-content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column; /* Change la direction du flux en vertical */
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 70%; /* Largeur fixe */
  height: 80%;
}

.nav-conclusion {
  background: #005e5d;
  display: flex;
  align-items: center; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; /* Ajout de bordure supérieure droite */
  padding-left: 10px;
  padding-right: 10px;
}
.titre-conclusion{
  display:flex;
  align-items: center; 
   
}
.nav-conclusion a{
  margin-left: auto;
}
.nav-conclusion h3 {
  margin: 0; 
  color: white; 
  font-weight: 500;
  padding: 10px; /* Ajout de rembourrage */
}


