* {

    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin: 0; /* Pour enlever les marges par défaut du navigateur */
    padding: 0; /* Pour enlever le padding par défaut du navigateur */
    height: 100vh; /* 100% de la hauteur de la fenêtre visible */
    width: 100vw;

}
.container {
    display: flex;
    flex-direction: row;
     /* Ensure the container fills the entire height of the body */
}
.nav-gauche{
    flex: 0 0 auto;
    background-color: rgba(0, 94, 93, 1);
    width: 5vw;
  }
    
.nav1 , .nav2,
 .nav3,.nav4{
     height: 5vh;
    }
.nav1{
    background-color: rgba(0, 94, 93, 1);
 }
.nav2{
    background-color:rgba(217, 217, 217, 0.61) ;
    }
.nav3{
    display: flex;
    background-color:rgba(217, 217, 217, 1) ;
    }
.nav4{
        display: flex; 
        display: flex;
        align-items: center;
        gap: 10px;
    }
.nav4 a{
        padding:10px;
    }
a:hover  
    { 
    color: rgba(0, 94, 93, 1);;
    border-bottom: 4px solid rgba(0, 94, 93, 1);; /* Ajoute une ligne noire en dessous du lien */
    margin-top: 4px;
       }
img{
    width: 29px;height: 29px;
    }
.nav-syntheses,.nav-dossier,
.nav-document,.nav-prescription,
.nav-ordSortie,.nav-planSoins{
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 3px;
    }
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    }
.nav-syntheses{
    background-color: rgba(53, 52, 52, 1);
    }

.container-droit{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.container-nav-droit{
    display: flex;
    flex-direction: column;
}
.container-hero{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.ligne-1,.ligne-3,
.ligne-2,.ligne-4,
.ligne-5{ 
    display: grid;gap: 10px;
}
.ligne-1{
    grid-template-columns: auto auto auto;
}
.ligne-2,.ligne-4
{
   grid-template-columns: auto auto auto auto;
}
.ligne-3
{
  grid-template-columns: auto auto ;
}
.ligne-5
{
    grid-template-columns:auto auto;
}
.admission , .medecins , .personneConfidente, .allergies, .antecedents,
 .observations , .vaccins, .examenParamedical, .examenMedical
, .conclusion , .constantes,.fiche,.fiche,.prescription,.orientation,.documents
{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    color:rgba(0, 94, 93, 1); ;
    height: 14vh;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    font-weight: 500;
   padding: 10px;
   gap: 5px;
   
  
   }
 